@model e_commerce.Datas.Entities.KategoriProduk

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Edit</h1>

<h4>KategoriProduk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdProduk" class="control-label"></label>
                <select asp-for="IdProduk" class="form-control" asp-items="ViewBag.IdProduk"></select>
                <span asp-validation-for="IdProduk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategori" class="control-label"></label>
                <select asp-for="IdKategori" class="form-control" asp-items="ViewBag.IdKategori"></select>
                <span asp-validation-for="IdKategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
